.cell {
  width: 30px !important;
  height: 30px !important; 
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
